body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	height: auto;
}
#footer {
	box-sizing: border-box;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: black;
	color: white;
	text-decoration: none;
	width: 40%;
	height: 100px;
	left: 30%;
	right: 30%;
	bottom: 0;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	padding: 30px 50px;
}
.footer-link {
	color: white;
	text-decoration: none;
}
#banner {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	background: url(assets/img/photo-banner.jpg) no-repeat;
	background-size: cover;
	margin: 0;
	overflow: hidden;
}
#banner h1 {
	width: fit-content;
	height: fit-content;
	color: white;
	font-size: 48px;
	font-weight: bolder;
	background: url(assets/img/transparent.png);
	margin: 80px auto 0 160px;
	padding: 0 3px 0 3px;
}
#banner p {
	margin: 20px auto 0 500px;
	color: white;
	font-size: 32px;
	font-weight: 600;
	width: 50%;
}
#banner b {
	font-weight: normal;
	font-size: 32px;
	background: url(assets/img/transparent.png);
}
#banner a {
	width: 200px;
	height: fit-content;
	color: white;
	background: #580000;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	padding: 2px 5px 2px 5px;
	margin: 100px auto 0 auto;
	text-align: center;
	line-break: strict;
}
