body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	height: auto;
	overflow-x: hidden;
}
footer {
	box-sizing: border-box;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	background: black;
	color: white;
	text-decoration: none;
	width: 40%;
	height: 100px;
	left: 30%;
	right: 30%;
	bottom: 0;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	padding: 30px 50px;
	line-height: 100px;
	vertical-align: middle;
}
.footer-link {
	color: white;
	text-decoration: none;
}
#banner {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100vw;
	min-height: 100vh;
	background: url(assets/img/photo-banner.jpg) no-repeat center;
	background-size: cover;
	margin: 0;
	overflow: hidden;
}
#banner h1 {
	width: fit-content;
	height: fit-content;
	color: white;
	font-size: 48px;
	font-weight: bolder;
	background: url(assets/img/transparent.png);
	margin: 5% auto 0 10%;
	padding: 0 3px 0 3px;
}
#banner p {
	margin: 2.5% auto 0 auto;
	color: white;
	font-size: 32px;
	font-weight: 600;
	width: 50vw;
}
#banner b {
	font-weight: normal;
	font-size: 32px;
	background: url(assets/img/transparent.png);
}
#banner a {
	width: 200px;
	height: fit-content;
	color: white;
	background: #580000;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	padding: 2px 5px 2px 5px;
	margin: 5% auto 10% auto;
	text-align: center;
	line-break: strict;
	border: 3px solid white;
	border-radius: 60px;
	transition: 1s;
}
#banner a:hover {
	transform: scale(1.2);
}
#info h1 {
	font-size: 64px;
	font-weight: bolder;
	color: #580000;
	text-align: left;
	margin: 5% auto 0 2.5%;
}
.info-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 50px 120px 0 120px;
}
.info-block p {
	font-size: 24px;
	font-weight: normal;
	color: black;
	vertical-align: middle;
}
.info-block p:nth-child(2n) {
	text-align: right;
}
.info-block img {
	width: 400px;
	height: 250px;
	border-radius: 50px;
}
#video-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 75%;
	margin: 30px auto 0 auto;
	background: white;
	border: 3px solid #580000;
	border-radius: 100px;
}
#video-wrapper h1 {
	margin: 30px auto 0 auto;
	width: fit-content;
	font-size: 32px;
	font-weight: bold;
	color: #580000;
}
#video-block {
	width: 90%;
	margin: 20px auto 20px auto;
	text-align: center;
}
video {
	border-radius: 20px;
}
#photo-gallery-header {
	font-size: 32px;
	font-weight: bold;
	color: #580000;
	margin: 30px auto 0 auto;
	width: fit-content;
}
#photo-gallery {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 50px auto 0 auto;
	padding: 0 150px 0 150px;
}
#photo-gallery img {
	width: 350px;
	height: 350px;
	margin: 5px;
}
#invitation {
	font-size: 64px;
	font-weight: bold;
	color: #580000;
	width: 100%;
	text-align: center;
	margin: 50px auto 150px auto;
}
